.project
.classpath
**/.settings
/.gradle/
/build/
fineract-provider/build/
fineract-provider/bin/
fineract-provider/.settings/
/fineract-provider/.project
/fineract-provider/.settings/org.eclipse.buildship.core.prefs
/fineract-provider/.settings/org.eclipse.buildship.core.prefs
/fineract-provider/src/.vscode/settings.json
/fineract-client/
fineract-client/.settings/org.eclipse.buildship.core.prefs
fineract-doc/.settings/
fineract-doc/.settings/org.eclipse.buildship.core.prefs
/integration-tests/
/fineract-provider/secondaryid
